In [141]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://webscraper.io/test-sites/e-commerce/allinone/phones/touch"
page = requests.get(url)
soup = BeautifulSoup(page.text,parser='lxml')

phones = soup.find_all('a',class_='title')
prices = soup.find_all('h4',class_='pull-right price')
descriptions = soup.find_all('p',class_='description')
ratings = soup.find_all('p',{'data-rating': True})
reviews = soup.find_all('p',class_='pull-right')

d = {'phones':[],
     'prices':[],
    'descriptions':[],
    'ratings':[],
    'reviews':[]}

for phone,price,desc,rating,review in zip(phones,prices,descriptions,ratings,reviews):
    d['phones'].append(phone.text)
    d['prices'].append(price.text)
    d['descriptions'].append(desc.text)
    d['ratings'].append(rating['data-rating'])
    d['reviews'].append(review.text.split()[0])
    
df = pd.DataFrame(d)
df

           phones   prices            descriptions ratings reviews
0       Nokia 123   $24.99           7 day battery       3      11
1      LG Optimus   $57.99             3.2" screen       3      11
2  Samsung Galaxy   $93.99      5 mpx. Android 5.0       3       3
3         Nokia X  $109.99  Andoid, Jolla dualboot       4       4
4     Sony Xperia  $118.99         GPS, waterproof       1       6
5     Ubuntu Edge  $499.99          Sapphire glass       1       2
6          Iphone  $899.99                   White       1      10
7          Iphone  $899.99                  Silver       2       8
8          Iphone  $899.99                   Black       1       1